/* Common Css */
*{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
h1{
    font-size: 45px;
}
p{
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.btn-tomato{
    color: #fff;
    background-color: tomato;
    padding: 4px 15px;
    border-radius: 10px;
    transition: .5s;
    font-size: 20px;
}


/* Top Banner */
.top-banner{
background:linear-gradient(rgba(0, 0, 0, .60) ,rgba(0, 0, 0,.80)) ,url(./images/donation6.jpg);
    background-size: cover;
    height: 100vh;
}
